<div class="password-settings-wrapper">
  <form class="password-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="fields-container">
      <div class="input-container">
        <label for="">Old Password</label>
        <input type="password" id="oldPassword" formControlName="oldPassword" />
      </div>
      <div class="input-container">
        <label for="">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" />
      </div>
      <div class="input-container">
        <label for="">Confirm New Password</label>
        <input
          type="password"
          id="confirmNewPassword"
          formControlName="confirmNewPassword"
        />
      </div>
    </div>
    <div class="button-container">
      <app-button
        buttonText="SAVE CHANGES >"
        buttonType="accent"
      ></app-button>
    </div>
  </form>
</div>
