@import "../../../styles.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 50px 100px;
  flex-direction: column;
  background-color: $primary-colour;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  background-color: $secondary-colour;
  width: 100%;
  height: 700px;
  padding: 50px 0;
  margin: 50px 0;
}

.menu-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 20%;
  height: 100%;
  flex-direction: column;
}

.settings-container {
  display: flex;
  flex-direction: column; 
  height: 100%;
  width: 80%;
  flex-grow: 1;
}

.accent {
  display: flex;
  height: 100%;
  background-color: $accent-colour;
  width: 3px;
  border: none;
}

.settings-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  color: $text-colour;
  font-weight: 600;
}

.settings-button:hover {
  background-color: $accent-colour;
}
