@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    flex-direction: row;
    background-color: $secondary-colour;
}

.left-side-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.right-side-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url(../../../assets/Right\ Frame.png);
    background-position: center;
    background-size: cover;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 30%;
    flex-direction: column;
}

h3 {
    font-weight: 200;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.accent {
    color: $accent-colour;
    font-weight: 600;
}