<div class="wrapper">
  <div class="left-side-container">
    <div class="title-container">
        <h1>LOREM IPSUM</h1>
    </div>
    <div class="info-container">
        <h3><span class="accent">1.</span> Create an account</h3>
        <h3><span class="accent">2.</span> Search the catalog</h3>
        <h3><span class="accent">3.</span> Pick your desired car</h3>
        <h3><span class="accent">4.</span> Drive and Earn</h3>
    </div>
    <div class="button-container">
        <app-button
        buttonText="FIND OUT MORE >"
        buttonType="accent"
        (buttonClick)="goToInventory()"
      ></app-button>
    </div>
  </div>
  <div class="right-side-container">
  </div>
</div>
