@import '../../../styles.scss';

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-content: center;
    padding: 0 100px;
    height: 60px;
}

.navbar-buttons-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 60%;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 20%;
}

button {
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0 60px;
    height: 100%;
    color: $text-colour;
    background-color: transparent;
    transition: all 0.3s ease;
}

button:hover {
    background-color: $accent-colour;
}

.accent-button {
    background-color: $accent-colour;
    transition: all 0.3s ease;
}

.accent-button:hover {
    background-color: transparent;
}

img {
    height: 50px;
    margin: 5px 0 0 0;
}