<div class="review-preview">
  <div class="info-container">
    <div class="title-container">
      <div class="data-item-container">
        <p><strong>Review ID</strong></p>
        <hr />
        <p>{{ review.id }}</p>
      </div>
      <div class="data-item-container">
        <p><strong>Vehicle ID</strong></p>
        <hr />
        <p>{{ review.vehicleId }}</p>
      </div>

      <div class="data-item-container">
        <p><strong>User ID</strong></p>
        <hr />
        <p>{{ review.userId }}</p>
      </div>

      <div class="data-item-container">
        <p><strong>Rating</strong></p>
        <hr />
        <p class="stars">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
            <span [class.filled]="star <= review.rating">&#9733;</span>
          </ng-container>
        </p>
      </div>
    </div>

    <div class="data-container">
      <div class="data-description-item-container">
        <p><strong>Description</strong></p>
        <hr />
        <p>{{ review.description }}</p>
      </div>
    </div>
  </div>
</div>
