@import "../../../../../styles.scss";

.review-preview {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 1200px;
    min-height: 250px;
    background-color: $primary-colour;
    border: 2px solid $accent-colour;
}

.info-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.title-container {
    justify-content: space-between;
    align-items: start;
    display: flex;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    padding-bottom: 0;
}

.data-description-item-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    min-height: 60px; 
    flex-wrap: wrap;   
    word-break: break-word; 
}

.data-item-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 23%;
    gap: 5px;
    min-height: 60px; 
    flex-wrap: wrap;   
    word-break: break-word;
}

.data-container {
    display: flex;
    flex-direction: column; 
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 20px;
}

hr {
    width: 100%;
    height: 2px;
    background-color: $accent-colour;
    border: none;
}


.stars span {
    font-size: 1.2rem;
    color: #ccc;
    padding: -5px;
  }
  
  .stars span.filled {
    color: $accent-colour;
  }