@import '../../../styles.scss';

.wrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    height: 30%;
    margin: -75px 0;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    margin: 0 0 -20px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
}

img {
    height: 50%;
}

.accent {
    color: $accent-colour;
}