<app-navbar></app-navbar>
<div class="wrapper">
  <app-title text="ABOUT US"></app-title>
  <div class="card-container">
    <div class="card-entry">
      <div class="picture-container">
        <img src="assets/Raul.png" alt="" class="profile" />
      </div>
      <div class="first-name-container">
        <h2 class="accent-text">Raul-Costin</h2>
      </div>
      <div class="last-name-container">
        <h2>Pirvan</h2>
      </div>
      <hr class="accent" />
      <div class="job-container">
        <h3 class="slim-text">Fullstack Developer</h3>
      </div>
      <hr class="accent" />
      <div class="email-container">
        <p class="slim-text">RaulC.Pirvan&#64;PrestigeRentals.com</p>
      </div>
      <div class="button-container">
        <button class="contact-button">CONTACT ></button>
      </div>
    </div>

    <div class="card-entry">
        <div class="picture-container">
          <img src="assets/Ethan.png" alt="" class="profile" />
        </div>
        <div class="first-name-container">
          <h2 class="accent-text">Ethan</h2>
        </div>
        <div class="last-name-container">
          <h2>Mercer</h2>
        </div>
        <hr class="accent" />
        <div class="job-container">
          <h3 class="slim-text">Database Administrator</h3>
        </div>
        <hr class="accent" />
        <div class="email-container">
          <p class="slim-text">Ethan.Mercer&#64;PrestigeRentals.com</p>
        </div>
        <div class="button-container">
          <button class="contact-button">CONTACT ></button>
        </div>
      </div>

      <div class="card-entry">
        <div class="picture-container">
          <img src="assets/Olivia.png" alt="" class="profile" />
        </div>
        <div class="first-name-container">
          <h2 class="accent-text">Olivia</h2>
        </div>
        <div class="last-name-container">
          <h2>Heartwell</h2>
        </div>
        <hr class="accent" />
        <div class="job-container">
          <h3 class="slim-text">QA Specialist</h3>
        </div>
        <hr class="accent" />
        <div class="email-container">
          <p class="slim-text">Olivia.Heartwell&#64;PrestigeRentals.com</p>
        </div>
        <div class="button-container">
          <button class="contact-button">CONTACT ></button>
        </div>
      </div>

      <div class="card-entry">
        <div class="picture-container">
          <img src="assets/Liam.png" alt="" class="profile" />
        </div>
        <div class="first-name-container">
          <h2 class="accent-text">Liam</h2>
        </div>
        <div class="last-name-container">
          <h2>Kesington</h2>
        </div>
        <hr class="accent" />
        <div class="job-container">
          <h3 class="slim-text">Market Research Analyst</h3>
        </div>
        <hr class="accent" />
        <div class="email-container">
          <p class="slim-text">Liam.Kesington&#64;PrestigeRentals.com</p>
        </div>
        <div class="button-container">
          <button class="contact-button">CONTACT ></button>
        </div>
      </div>

      <div class="card-entry">
        <div class="picture-container">
          <img src="assets/Sophie.png" alt="" class="profile" />
        </div>
        <div class="first-name-container">
          <h2 class="accent-text">Sophie</h2>
        </div>
        <div class="last-name-container">
          <h2>Winslow</h2>
        </div>
        <hr class="accent" />
        <div class="job-container">
          <h3 class="slim-text">UI/UX Designer</h3>
        </div>
        <hr class="accent" />
        <div class="email-container">
          <p class="slim-text">Sophie.Winslow&#64;PrestigeRentals.com</p>
        </div>
        <div class="button-container">
          <button class="contact-button">CONTACT ></button>
        </div>
      </div>

      <div class="card-entry">
        <div class="picture-container">
          <img src="assets/Jacob.png" alt="" class="profile" />
        </div>
        <div class="first-name-container">
          <h2 class="accent-text">Jacob</h2>
        </div>
        <div class="last-name-container">
          <h2>Ashford</h2>
        </div>
        <hr class="accent" />
        <div class="job-container">
          <h3 class="slim-text">Fleet Operations Analyst</h3>
        </div>
        <hr class="accent" />
        <div class="email-container">
          <p class="slim-text">Jacob.Ashford&#64;PrestigeRentals.com</p>
        </div>
        <div class="button-container">
          <button class="contact-button">CONTACT ></button>
        </div>
      </div>
  </div>
</div>