@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin: 0 100px;
    flex-direction: column;
}

.title-container {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    color: $accent-colour;
}

h2 {
    font-weight: 200;
}