@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 0 100px;
    flex-direction: column;
}

.info-container {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

h2 {
    font-weight: 200;
}