<div class="wrapper">
  <div class="title-container">
    <app-title text="USERS"></app-title>
  </div>

  <div class="pagination-controls">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">
      &lt;
    </button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button (click)="changePage(1)" [disabled]="currentPage === totalPages()">
      &gt;
    </button>
  </div>

  <app-user-card
    *ngFor="let user of displayedUsers"
    [user]="user"
    (promote)="onPromote($event)"
    (demote)="onDemote($event)"
    (ban)="onToggleBan($event)"
  ></app-user-card>

  <div class="pagination-controls">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">
      &lt;
    </button>
    <span>Page {{ currentPage }} of {{ totalPages() }}</span>
    <button (click)="changePage(1)" [disabled]="currentPage === totalPages()">
      &gt;
    </button>
  </div>
</div>
