@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 0 100px;
    flex-direction: column;
    background-color: $secondary-colour;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.carousel-container {
    height: 70%;
    padding: 20px;
    width: 100%;
    gap: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

img {
    height: 80%;
    width: 150px;
}