<div class="wrapper">
    <div class="title-container">
        <h1>OUR PARTNERS</h1>
    </div>
    <div class="carousel-container">
        <img src="assets/bmw 1.png" alt="">
        <img src="assets/audi.png" alt="">
        <img src="assets/porsche 1.png" alt="">
        <img src="assets/volvo 1.png" alt="">
        <img src="assets/mercedes 1.png" alt="">
        <img src="assets/toyota.png" alt="">
        <img src="assets/lamborghini.png" alt="">
        <img src="assets/rolls royce.png" alt="">
        <img src="assets/Honda.png" alt="">
        <img src="assets/Lexus.png" alt="">
        <img src="assets/volkswagen.png" alt="">
        <img src="assets/mazda.png" alt="">
    </div>
</div>