@import "../../../styles.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: $accent-colour;
    color: $text-colour;
    cursor: pointer;
}