@import "../../../styles.scss";

.vehicles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 5rem;
    margin-bottom: 1rem;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
  
    button {
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: transparent;
      color: $text-colour;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  
    button:hover {
      color: $accent-colour;
    }
  
    span {
      font-size: 18px;
      padding-top: 9px;
    }
  }
  