@import "../../../styles.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 50px 100px;
  flex-direction: column;
  background-color: $primary-colour;
  border: 2px solid red;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

.accent {
    color: $accent-colour;
}

.card-container {
    border: 2px solid red;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 50px;
    padding: 20px;
    background-color: $secondary-colour;
    width: 100%;
    flex-direction: column;
}

.header-container {
    border: 2px solid red;
    display: flex;
    justify-content: start;
    align-content: center;
    width: 100%;
    height: 100%;
}

.profile-name-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 2px solid red;
    flex-direction: column;
    padding: 0 10px;
}

.profile-photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 0 10px;
}

h3 {
    font-weight: 300;
}

.hr-accent {
    width: 100%;
    height: 3px;
    border: none;
    background-color: $accent-colour;
    margin: 5px;
}

.buttons-container {
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    gap: 20px;
}

.list {
    border: none;
    padding: 15px 25px;
    font-weight: 600;
    background-color: transparent;
    color: $text-colour;
    cursor: pointer;
}

.info-container {
    margin: 20px 0;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}