@import "../../../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.details-settings-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  height: 100%; /* good to keep */
}

.update-details-form {
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

input {
  width: 100%;
  height: 28px;
  border: none;
  background-color: $primary-colour;
  color: $text-colour;
  padding: 5px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: 200;
  padding-bottom: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 20%;
}

.fields-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: 80%;
  gap: 10px;
}
