<div class="container">
  <h2>Vehicles List</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Make</th>
        <th>Model</th>
        <th>Engine Size</th>
        <th>Fuel Type</th>
        <th>Transmission</th>
        <th>Navigation</th>
        <th>Heads-up Display</th>
        <th>Hill Assist</th>
        <th>Cruise Control</th>
        <th>Photos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.make }}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.engineSize }}</td>
        <td>{{ vehicle.fuelType }}</td>
        <td>{{ vehicle.transmission }}</td>
        <td>{{ vehicleOptions[vehicle.id]?.navigation ? "Yes" : "No" }}</td>
        <td>{{ vehicleOptions[vehicle.id]?.headsUpDisplay ? "Yes" : "No" }}</td>
        <td>{{ vehicleOptions[vehicle.id]?.hillAssist ? "Yes" : "No" }}</td>
        <td>{{ vehicleOptions[vehicle.id]?.cruiseControl ? "Yes" : "No" }}</td>
        <td>
          <div *ngIf="vehiclePhotos[vehicle.id]?.length">
            <div *ngFor="let photo of vehiclePhotos[vehicle.id]">
              <!-- Directly use the Base64 string -->
              <img [src]="photo" alt="Vehicle Photo" width="100px" />
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
