@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 100px;
    margin-top: 60px;
    flex-direction: column;
    background-color: $primary-colour;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    width: 100%;
    height: 800px;
}

.left-side-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url('../../../assets/rolls-image.png');
    background-position: center;
    background-size: cover;
}

img {
    height: auto;
    width: auto;
    overflow: hidden;
}

.right-side-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    background-color: $secondary-colour;
    padding: 20px;
    flex-direction: column;
    height: 100%;
}

.contact-form {
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

.small-input-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.input-cluster {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

input {
    width: 100%;
    height: 28px;
    border: none;
    background-color: $primary-colour;
    color: $text-colour;
    padding: 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 200;
    padding-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.big-input-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.big-input {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: 5px;
    resize: none;
    width: 100%;
    background-color: $primary-colour;
    border: none;
    color: $text-colour;
}