@import '../../../styles.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 50px;
    background-color: $secondary-colour;
    margin-bottom: 50px;
}

input {
    width: 100%;
    height: 28px;
    border: none;
    background-color: $primary-colour;
    color: $text-colour;
    padding: 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.checkbox-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 200;
    padding-bottom: 5px;
}

.upload-box {
  width: 120px;
  height: 120px;
  border: 2px solid $primary-colour;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: $primary-colour;
  font-size: 64px;
  color: $text-colour;

  &.main {
    border-color: $accent-colour;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  padding: 20px 0;
}

.entries-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}