<div class="footer">
    <div class="logo-container">
        <img src="assets/logo.png" alt="logo">
    </div>
    <div class="info-container">
        <p>© 2025 Prestige Rentals Ltd.</p>
        <p>All rights reserved.</p>
    </div>
    <div class="social-container">
        <img src="assets/facebook-svgrepo-com 1.png" alt="Facebook Account" class="social">
        <img src="assets/twitter-154-svgrepo-com 1.png" alt="Twitter Account" class="social">
        <img src="assets/instagram-svgrepo-com 1.png" alt="Instagram Account" class="social">
    </div>
</div>