@import "../../../../../styles.scss";

.vehicle-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 1400px;
    height: 100%;
    background-color: $primary-colour;
    border: 2px solid $accent-colour;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    border-right: 2px solid $accent-colour;

    img {
        object-fit: cover;
        border-bottom: 2px solid $accent-colour;
    }
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.technical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    padding: 20px;
    flex-direction: column;
}

.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    padding: 20px;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
}

.details-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 20px;
}

.title-container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 20px;
    font-weight: 600;
    font-size: 24px;
}

.data-item-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 15%;
    gap: 5px;
}

.data-container {
    justify-content: space-around;
    align-items: end;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px 0;
}

hr {
    width: 90%;
    height: 2px;
    background-color: $accent-colour;
    border: none;
}


.data-photo-container {
    height: 100%;
    width: 400px;

}

img {
    display: flex;
    height: 100%;
    width: 100%;

}