<div class="details-settings-wrapper">
    <div class="title-container">
        <h1>Are You Sure You Want to Deactivate Your Account?</h1>
        <p>
          Deactivating your account will temporarily disable your profile and remove your presence from the platform.
          You can reactivate at any time by logging back in. If you're certain, continue below.
        </p>
    </div>
  <div class="button-container">
    <app-button
      buttonText="DEACTIVATE ACCOUNT >"
      buttonType="accent"
      (buttonClick)="(null)"
    ></app-button>
  </div>
</div>
