@import "../../../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.details-settings-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  height: 100%; /* good to keep */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 20%;
}

.title-container {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 10px;
}

p {
    font-weight: 300;
}