@import "../../../styles.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 60px 100px;
  flex-direction: column;
  background-color: $primary-colour;
}

.admin-subnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 100%;
    height: 50px;
}