@import "../../../styles.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 60px 0 0 0;
  flex-direction: column;
  background-color: $primary-colour;
}

.admin-subnavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-colour;
  width: 100%;
  height: 50px;
}

.admin-navbar-button {
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  padding: 20px;
  width: 270px;
  height: 100%;
  background-color: $accent-colour;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.admin-navbar-button:hover {
  background-color: $primary-colour;
  color: $accent-colour;
}
