<app-navbar></app-navbar>
<div class="wrapper">
  <nav class="admin-subnavbar">
    <button routerLink="overview" routerLinkActive="active">Overview</button>
    <button routerLink="orders" routerLinkActive="active">Orders</button>
    <button routerLink="reviews" routerLinkActive="active">Reviews</button>
    <button routerLink="tickets" routerLinkActive="active">Tickets</button>
    <button routerLink="users" routerLinkActive="active">Users</button>
    <button routerLink="vehicles" routerLinkActive="active">Vehicles</button>
  </nav>
</div>
<app-footer></app-footer>
