@import "../../../styles.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  flex-direction: column;
  padding-bottom: 20px;
  padding: 50px;
  margin: 0 100px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: $secondary-colour;
    flex-direction: column;
    margin-top: 50px;
    height: 700px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.confirmation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 300;
    padding: 20px;
}

.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.qr-big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.booking-reference-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}