@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$primary-colour: #1E1E1E;
$secondary-colour: #222222;
$accent-colour: #F7C566;
$text-colour: #F1F1F1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $text-colour;
    background-color: $primary-colour;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
