@import "../../../../styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu-toggle {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  button {
    padding: 10px 20px;
    border: 2px solid $accent-colour;
    background-color: $secondary-colour;
    color: $text-colour;
    font-weight: bold;
    cursor: pointer;
    width: 200px;

    &.active {
      background-color: $accent-colour;
      color: $primary-colour;
    }
  }
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 20px;
  padding: 20px;

  button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    color: $text-colour;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    color: $accent-colour;
  }

  span {
    font-size: 18px;
    padding-top: 9px;
  }
}
