@import "../../../styles.scss";

button {
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  font-weight: 600;

  &.transparent {
    background-color: transparent;
    color: $accent-colour;
    border: 2px solid $accent-colour;
  }

  &.transparent:hover {
    background-color: $accent-colour;
    color: $text-colour;
  }

  &.accent {
    background-color: $accent-colour;
    color: $text-colour;
    border: 2px solid $accent-colour;
  }

  &.accent:hover {
    background-color: transparent;
    color: $accent-colour
  }
}
