@import '../../styles.scss';

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 60px;
    width: 100%;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.15);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    gap: 10px;
}

img {
    height: 50px;
}