<div class="wrapper">
  <div class="title-container">
    <h1>DRIVE AND EARN</h1>
  </div>
  <div class="info-container">
    <div class="left-side-container">
      <div class="left-item">
        <div class="item-info-container">
          <h1>Rent a Car</h1>
        </div>
        <div class="item-logo-container">
          <img src="assets/key-4-svgrepo-com 1.png" alt="Key" />
        </div>
      </div>
      <div class="left-item">
        <div class="item-info-container">
          <h1>Redeem Exclusive Rewards</h1>
        </div>
        <div class="item-logo-container">
          <img src="assets/gifts-svgrepo-com 1.png" alt="Gift" />
        </div>
      </div>
    </div>
    <hr class="accent" />
    <div class="right-side-container">
      <div class="right-item">
        <div class="item-logo-container">
          <img src="assets/coin-2-svgrepo-com 1.png" alt="Coins" />
        </div>
        <div class="item-info-container">
          <h1>Earn Loyalty Coins</h1>
        </div>
      </div>
      <div class="right-item">
        <div class="item-logo-container">
          <img src="assets/heart-svgrepo-com 1.png" alt="Heart" />
        </div>
        <div class="item-info-container">
          <h1>Experience Unmatched Satisfaction</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <app-button
      buttonText="JOIN >"
      buttonType="transparent"
      (buttonClick)="(null)"
    ></app-button>
  </div>
</div>
