<div class="details-settings-wrapper">
    <div class="title-container">
        <h1>Are You Sure You Want to Delete Your Account?</h1>
        <p>
          Deleting your account is permanent and cannot be undone. All your data, preferences, and history will be permanently removed.
          If you're absolutely certain, proceed with caution.
        </p>
    </div>
  <div class="button-container">
    <app-button
      buttonText="DELETE ACCOUNT >"
      buttonType="red"
      (buttonClick)="(null)"
    ></app-button>
  </div>
</div>
