@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 100px;
    margin-top: 60px;
    flex-direction: column;
    background-color: $primary-colour;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    width: 100%;
    height: 600px;
}

.left-side-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url('../../../assets/login image.png');
    background-position: center;
    background-size: cover;
}

img {
    height: auto;
    width: auto;
    overflow: hidden;
}

.right-side-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: $secondary-colour;
    padding: 20px;
    flex-direction: column;
    height: 100%;
}

.contact-form {
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 20px;
}

input {
    width: 100%;
    height: 28px;
    border: none;
    background-color: $primary-colour;
    color: $text-colour;
    padding: 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 200;
    padding-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.heavy {
    font-weight: 800;
}

p {
    font-size: 18px;
}

.accent {
    width: 100%;
    height: 3px;
    background-color: $accent-colour;
    border: none;
    margin: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.remember-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 0;
}