<div class="wrapper">
  <app-title text="LOG IN"></app-title>
  <div class="card-container">
    <div class="left-side-container"></div>
    <div class="right-side-container">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="contact-form"
      >
        <div class="input-container">
          <label for="">Email Address</label>
          <input type="text" id="email" formControlName="email" />
          <div
            class="error-text"
            *ngIf="
              loginForm.get('email')?.touched && loginForm.get('email')?.invalid
            "
          >
            <span
              class="error-text"
              *ngIf="loginForm.get('email')?.errors?.['required']"
              >Email is required.</span
            >
            <span *ngIf="loginForm.get('email')?.errors?.['email']"
              >Enter a valid email.</span
            >
          </div>
        </div>

        <div class="input-container">
          <label for="">Password</label>
          <input type="password" id="password" formControlName="password" />
          <div
            class="error-text"
            *ngIf="
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.invalid
            "
          >
            <span *ngIf="loginForm.get('password')?.errors?.['required']"
              >Password is required.</span
            >
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']"
              >Password must be at least 6 characters long.</span
            >
          </div>
        </div>

        <div class="checkbox-container">
          <input
            type="checkbox"
            id="rememberMe"
            formControlName="rememberMe"
            class="checkbox-entity"
          />
          <label class="remember-tag" for="rememberMe">Remember Me</label>
        </div>

        <div class="button-container">
          <app-button
            buttonText="LOGIN"
            buttonType="accent"
            (buttonClick)="onSubmit()"
          ></app-button>
        </div>
      </form>
      <p>
        Forgot your password?
        <span class="heavy" (click)="openForgotPasswordModal()"
          >Click here!</span
        >
      </p>

      <div class="modal-backdrop" *ngIf="showForgotPassword">
        <div class="modal" (click)="$event.stopPropagation()">
          <h3>Reset Password</h3>
          <p>Enter your email address to receive a new password.</p>
          <input
            type="email"
            [(ngModel)]="forgotEmail"
            placeholder="you@example.com"
          />
          <div class="modal-buttons">
            <app-button
              buttonText="SEND >"
              buttonType="transparent"
              (buttonClick)="redirectTo('/register')"
            ></app-button>
            <app-button
              buttonText="CANCEL >"
              buttonType="transparent"
              (buttonClick)="redirectTo('/register')"
            ></app-button>
          </div>
        </div>
      </div>

      <hr class="accent" />
      <div class="button-container">
        <app-button
          buttonText="SIGN IN WITH GOOGLE"
          buttonType="accent"
          (buttonClick)="(null)"
        ></app-button>
      </div>
      <hr class="accent" />
      <p>Don't have an account?</p>
      <div class="button-container">
        <app-button
          buttonText="CREATE ACCOUNT"
          buttonType="transparent"
          (buttonClick)="redirectTo('/register')"
        ></app-button>
      </div>
    </div>
  </div>
</div>
