<div class="wrapper">
    <div class="title-container">
        <h1>LOREM IPSUM</h1>
    </div>
    <div class="items-container">
        <div class="item">
            <div class="item-title">
                <img src="assets/car-side-svgrepo-com 1.png" alt="">
            </div>
            <div class="item-info">
                <h1>500+</h1>
                <h1>Vehicles</h1>
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                <img src="assets/world-1-svgrepo-com 1.png" alt="">
            </div>
            <div class="item-info">
                <h1>20+</h1>
                <h1>Locations</h1>
            </div>
        </div>
        <div class="item">
            <div class="item-title">
                <img src="assets/person-svgrepo-com 1.png" alt="">
            </div>
            <div class="item-info">
                <h1>10K+</h1>
                <h1>Customers</h1>
            </div>
        </div>
    </div>
</div>