.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    padding: 0 100px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

.items-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70%;
}

img {
    height: 96px;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-title {
    display: flex;
    align-items: center;
    justify-content: center;
}