<div class="wrapper">
  <app-title text="SETTINGS"></app-title>
  <div class="card-container">
    <div class="menu-container">
      <button class="settings-button">CHANGE DETAILS</button>
      <button class="settings-button">CHANGE EMAIL</button>
      <button class="settings-button">CHANGE PASSWORD</button>
      <button class="settings-button">DEACTIVATE ACCOUNT</button>
      <button class="settings-button">DELETE ACCOUNT</button>
    </div>
    <hr class="accent" />
    <div class="settings-container">
      <form class="contact-form">
        <div class="fields-container">
          <div class="input-container">
            <label for="">First Name</label>
            <input type="text" id="firstName" formControlName="firstName" />
          </div>
          <div class="input-container">
            <label for="">Last Name</label>
            <input type="text" id="lastName" formControlName="lastName" />
          </div>
        </div>
        <div class="button-container">
          <app-button
            buttonText="SAVE CHANGES >"
            buttonType="accent"
            (buttonClick)="(null)"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
