@import '../../../styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 100px;
    flex-direction: column;
    background-color: $primary-colour;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    background-color: $secondary-colour;
    width: 100%;
    height: 700px;
    padding: 50px 0;
    margin: 50px 0;
}

.menu-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 20%;
    height: 100%;
    flex-direction: column;
}

.settings-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 20%;
    height: 100%;
    width: 80%;
}

.accent {
    display: flex;
    height: 100%;
    background-color: $accent-colour;
    width: 3px;
    border: none;
}

.settings-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    color: $text-colour;
    font-weight: 600;
}

.settings-button:hover {
    background-color: $accent-colour;
}

.contact-form {
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

input {
    width: 100%;
    height: 28px;
    border: none;
    background-color: $primary-colour;
    color: $text-colour;
    padding: 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: 200;
    padding-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 20%;
}

.fields-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 10px;
}