<div class="email-settings-wrapper">
  <form class="update-email-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="fields-container">
      <div class="input-container">
        <label for="emailAddress">New Email Address</label>
        <input type="text" id="emailAddress" formControlName="email" placeholder="Enter email address"/>
      </div>
    </div>
    <div class="button-container">
      <app-button
        buttonText="SAVE CHANGES >"
        buttonType="accent"
        (buttonClick)="onSubmit()"
      ></app-button>
    </div>
  </form>
</div>
